In [3]:
import pandas as pd

# Reading the Datasets

In [6]:
path = '../../data/'
train_dataset = path + 'train.csv'
label_col = 'SalePrice'

In [8]:
df_master = pd.read_csv(train_dataset)
df = df_master.copy()
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

### Selecting Features

In [10]:
features = ['Foundation', 'KitchenQual', 'TotRmsAbvGrd', 'WoodDeckSF', 'YrSold', '1stFlrSF']
df = df[features + [label_col]]
df.head()

,Foundation,KitchenQual,TotRmsAbvGrd,WoodDeckSF,YrSold,1stFlrSF,SalePrice
0,PConc,Gd,8,0,2008,856,208500
1,CBlock,TA,6,298,2007,1262,181500
2,PConc,Gd,6,0,2008,920,223500
3,BrkTil,Gd,7,0,2006,961,140000
4,PConc,Gd,9,192,2008,1145,250000

### Impute missing values

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Foundation    1460 non-null   object
 1   KitchenQual   1460 non-null   object
 2   TotRmsAbvGrd  1460 non-null   int64
 3   WoodDeckSF    1460 non-null   int64
 4   YrSold        1460 non-null   int64
 5   1stFlrSF      1460 non-null   int64
 6   SalePrice     1460 non-null   int64
dtypes: int64(5), object(2)
memory usage: 80.0+ KB

No missing values

### Check duplicates

In [14]:
df[features].duplicated(keep='first').sum()

32

- Remove all the duplicates except one

In [16]:
df = df[~df[features].duplicated(keep='first')]
df.tail()

,Foundation,KitchenQual,TotRmsAbvGrd,WoodDeckSF,YrSold,1stFlrSF,SalePrice
1455,PConc,TA,7,0,2007,953,175000
1456,CBlock,TA,7,349,2010,2073,210000
1457,Stone,Gd,9,0,2010,1188,266500
1458,CBlock,Gd,5,366,2010,1078,142125
1459,CBlock,TA,6,736,2008,1256,147500

In [17]:
df = df.reset_index(drop=True)
df.tail()

,Foundation,KitchenQual,TotRmsAbvGrd,WoodDeckSF,YrSold,1stFlrSF,SalePrice
1423,PConc,TA,7,0,2007,953,175000
1424,CBlock,TA,7,349,2010,2073,210000
1425,Stone,Gd,9,0,2010,1188,266500
1426,CBlock,Gd,5,366,2010,1078,142125
1427,CBlock,TA,6,736,2008,1256,147500

In [19]:
df_tmp = df_master[features+[label_col]]
df_tmp[df_tmp.duplicated(keep=False)]

,Foundation,KitchenQual,TotRmsAbvGrd,WoodDeckSF,YrSold,1stFlrSF,SalePrice
145,PConc,Gd,7,0,2006,970,130000
193,PConc,Gd,7,0,2006,970,130000

In [20]:
df_tmp = df_master[features+[label_col]]
df_tmp[df_tmp[features].duplicated(keep=False)]

,Foundation,KitchenQual,TotRmsAbvGrd,WoodDeckSF,YrSold,1stFlrSF,SalePrice
18,PConc,Gd,6,0,2008,1114,159000
76,CBlock,TA,4,0,2008,952,135750
87,PConc,Gd,4,0,2009,612,164500
89,PConc,TA,5,0,2007,990,123600
102,Slab,TA,8,0,2009,1535,118964
126,CBlock,TA,5,0,2007,958,128000
145,PConc,Gd,7,0,2006,970,130000
193,PConc,Gd,7,0,2006,970,130000
194,CBlock,TA,5,0,2008,864,127000
203,PConc,Gd,3,149,2008,848,149000
210,CBlock,TA,5,0,2008,864,98000
227,CBlock,TA,5,0,2008,483,106000
229,PConc,Gd,7,143,2009,1555,192500
235,CBlock,TA,5,0,2008,483,89500
282,PConc,Gd,6,172,2009,1314,207500
346,CBlock,TA,5,0,2007,958,151500
360,CBlock,TA,5,0,2007,912,156000
374,PConc,Gd,8,100,2007,847,219500
462,CBlock,TA,5,0,2009,864,62383
511,PConc,Gd,6,132,2006,1368,202665
512,CBlock,TA,5,0,2006,864,129900
593,PConc,Gd,4,140,2009,848,140000
690,PConc,Gd,3,149,2008,848,141000
722,CBlock,TA,5,0,2009,864,124500
760,CBlock,TA,5,0,2009,864,127500
773,CBlock,TA,5,0,2007,912,114500
829,PConc,Gd,4,0,2006,520,147400
831,PConc,Gd,4,0,2006,520,151000
834,CBlock,TA,6,0,2008,1144,139950
837,CBlock,TA,5,0,2008,483,100000
847,CBlock,TA,5,0,2009,864,133500
894,Slab,TA,8,0,2009,1535,118858
914,PConc,Gd,4,0,2009,612,173733
978,CBlock,TA,5,0,2007,894,110000
1079,PConc,TA,5,0,2007,990,126000
1088,PConc,Gd,7,0,2006,970,137500
1090,Slab,TA,6,0,2009,1040,92900
1126,PConc,Gd,7,143,2009,1555,174000
1128,PConc,Gd,8,100,2007,847,215000
1140,CBlock,TA,4,0,2008,952,139000
1157,PConc,Gd,6,172,2009,1314,230000
1162,CBlock,TA,5,0,2007,894,129000
1200,CBlock,TA,5,0,2006,864,116050
1215,CBlock,TA,5,0,2007,894,125000
1294,CBlock,TA,5,0,2006,864,115000
1297,PConc,TA,5,0,2006,1072,140000
1306,PConc,Gd,6,132,2006,1368,202500
1339,CBlock,TA,5,0,2006,864,128500
1341,PConc,Gd,6,0,2008,1114,155000
1364,PConc,Gd,4,0,2006,520,144152
1368,PConc,Gd,4,140,2009,848,144000
1412,Slab,TA,6,0,2009,1040,90000
1418,CBlock,TA,6,0,2008,1144,124000
1441,PConc,Gd,3,149,2008,848,149300
1452,PConc,TA,5,0,2006,1072,145000

In [21]:
df_tmp2 = df_tmp[df_tmp[features].duplicated(keep=False)]
df_tmp2[(df_tmp2['Foundation'] == 'PConc') & (df_tmp2['KitchenQual'] == 'Gd') & (df_tmp2['TotRmsAbvGrd'] == 6)]

,Foundation,KitchenQual,TotRmsAbvGrd,WoodDeckSF,YrSold,1stFlrSF,SalePrice
18,PConc,Gd,6,0,2008,1114,159000
282,PConc,Gd,6,172,2009,1314,207500
511,PConc,Gd,6,132,2006,1368,202665
1157,PConc,Gd,6,172,2009,1314,230000
1306,PConc,Gd,6,132,2006,1368,202500
1341,PConc,Gd,6,0,2008,1114,155000

### Scale continuous feautres

In [22]:
continuous_columns = df[features].select_dtypes(include='number').columns
continuous_columns

Index(['TotRmsAbvGrd', 'WoodDeckSF', 'YrSold', '1stFlrSF'], dtype='object')

In [23]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df[continuous_columns])

StandardScaler()

In [24]:
scaled_columns = scaler.transform(df[continuous_columns])
scaled_columns

array([[ 0.89640314, -0.75914576,  0.1337157 , -0.80529122],
       [-0.33679887,  1.60558006, -0.61804028,  0.24310924],
       [-0.33679887, -0.75914576,  0.1337157 , -0.64002613],
       ...,
       [ 1.51300414, -0.75914576,  1.63722765,  0.05202147],
       [-0.95339987,  2.14518193,  1.63722765, -0.23202792],
       [-0.33679887,  5.08125091,  0.1337157 ,  0.22761564]])

In [25]:
continuous_features_df = pd.DataFrame(data=scaled_columns, columns=continuous_columns)
continuous_features_df.head()

   TotRmsAbvGrd  WoodDeckSF    YrSold  1stFlrSF
0      0.896403   -0.759146  0.133716 -0.805291
1     -0.336799    1.605580 -0.618040  0.243109
2     -0.336799   -0.759146  0.133716 -0.640026
3      0.279802   -0.759146 -1.369796 -0.534153
4      1.513004    0.764436  0.133716 -0.059016

### Categorical features

In [27]:
categorical_columns = df[features].select_dtypes(include='object').columns
categorical_columns

Index(['Foundation', 'KitchenQual'], dtype='object')

In [28]:
categorical_features_df = pd.get_dummies(df[categorical_columns])
categorical_features_df.head()

,Foundation_BrkTil,Foundation_CBlock,Foundation_PConc,Foundation_Slab,Foundation_Stone,Foundation_Wood,KitchenQual_Ex,KitchenQual_Fa,KitchenQual_Gd,KitchenQual_TA
0,0,0,1,0,0,0,0,0,1,0
1,0,1,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,1,0
3,1,0,0,0,0,0,0,0,1,0
4,0,0,1,0,0,0,0,0,1,0

- Join both contineous and categorical dataframes with lable

In [30]:
final_df = continuous_features_df.join(categorical_features_df).join(df[label_col])
final_df.head()

,TotRmsAbvGrd,WoodDeckSF,YrSold,1stFlrSF,Foundation_BrkTil,Foundation_CBlock,Foundation_PConc,Foundation_Slab,Foundation_Stone,Foundation_Wood,KitchenQual_Ex,KitchenQual_Fa,KitchenQual_Gd,KitchenQual_TA,SalePrice
0,0.896403,-0.759146,0.133716,-0.805291,0,0,1,0,0,0,0,0,1,0,208500
1,-0.336799,1.605580,-0.618040,0.243109,0,1,0,0,0,0,0,0,0,1,181500
2,-0.336799,-0.759146,0.133716,-0.640026,0,0,1,0,0,0,0,0,1,0,223500
3,0.279802,-0.759146,-1.369796,-0.534153,1,0,0,0,0,0,0,0,1,0,140000
4,1.513004,0.764436,0.133716,-0.059016,0,0,1,0,0,0,0,0,1,0,250000

# Model training

- Split dataset

In [31]:
X, y = final_df.drop(columns=[label_col]), final_df[label_col]

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

- Train model

In [33]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [34]:
model.fit(X_train, y_train)

LinearRegression()

# Model evaluation

In [37]:
y_pred = model.predict(X_test)

In [38]:
y_pred[y_pred < 0] = 0

In [39]:
import numpy as np
from sklearn.metrics import mean_squared_log_error

def compute_rmsle(y_test: np.ndarray, y_pred: np.ndarray, precision: int = 2) -> float:
    rmsle = np.sqrt(mean_squared_log_error(y_test, y_pred))
    return round(rmsle, precision)

In [40]:
compute_rmsle(y_test, y_pred)

0.54